<!DOCTYPE html>
{%extends 'mobile/base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-12">
        <form action="" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit">
        </form>
    </div>
    <div class="col-12">
        <table class="table">
            <tr>
                <td>brand_name</td>
            </tr>
            {%for brand in brands%}
            <tr>
                <td>{{brand.brand_name}}</td>
                <td><a href="{%url 'brandupdate' brand.id %}">edit</a></td>
                <td><a href="{%url 'branddel' brand.id %}">delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}